* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline:none;
    font-family:raleway, sans-serif;
}

hr {
    width:80%;
    margin:5px auto;
    border:1px solid #EEE;
}


/* Start Loader */
.loader {
    background-color:#333;
    min-height:calc(100vh - 0px);
    z-index:40;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.load  {
    text-align:center;
    margin-top:280px;
    color:#FFF;
    font-weight:bold;
}

.load img {
    animation: load 3s ease-in-out 0s infinite  alternate;
}

@keyframes load {
    0% {
        transform:rotate(0deg);
    }

    25% {
        transform:rotate(360deg);
    }
}

.load p {
    margin-top:10px;
}

/* End Loader */

.search-container {
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.85);
    min-height: calc(100vh - 0px);
    width:100%;
    z-index:20;
}

    
.search-container ul {
    color:#FFF;
    margin:10px;
    float:right;
    cursor:pointer;
}

.search-container form {
    width:350px;
    margin:270px auto;
}

.search-container input {
    position:relative;
    padding-left:8px;
    height:50px;
    width:100%;
    margin:0 auto;
    font-weight: bold;
    background-color:#1490d7;
    color:#FFF;
    float:left;
    border:none;
    border-radius:5px;
}



::placeholder {
    color:#FFF;
}


/* Start Small Screen Navbar */

.sm-nav {
    height:50px;
    margin-bottom:100px;
    background-color:#FFF;
    z-index:3;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sm-nav section:first-of-type {
    float:left;
    display:block;
    margin-top:10px;
    z-index:3;
    display:block;
    margin-left:5px;
}

.sm-nav button {
    float:right;
    margin-top:15px;
    padding:0 10px;
    background:none;
    border:none;
    z-index:3;
}

.sm-nav .beside-nav {
    z-index:4;
    min-height:calc(100vh - 0px);
    background-color:#272732;
    width:200px;
    transition:all .3s linear;
    display:none;
}

.sm-nav .beside-nav ul {
    width:100%;
    float:right;
    color:#FFF;
    font-weight:bold;
    font-family:fantasy;
    direction:rtl;
    margin-top:5px;
    margin-right:10px;
    font-size:20px;
    cursor:pointer;
}

.sm-nav .beside-nav p  {
    width:100%;
    border-bottom:1px solid rgba(204, 204, 204, 0.21);
    padding:10px 0px;
    cursor:pointer;
}

.sm-nav .beside-nav p:hover {
    background-color:#1490d7;
}

.sm-nav .beside-nav p a {
    font-weight:bolder;
    text-decoration:none;
    color:#FFF;
    margin-left:10px;
}


/* End Small Screen Navbar */








/* Start Contact Navbar */


.contact-nav {
    background-color:#FFF;
    height:100px;
    width:100%;
    z-index:3;
}

.contact-nav section {
    margin-top:30px;
    width:25%;
    float:left;
    overflow:hidden;
    font-weight:bold;
}

.contact-nav section:first-of-type a {
    background:url('../imgs/logo.png') center center no-repeat;
    background-size:cover;
    width:110px;
    height:35px;
    display:block;
}

.contact-nav section p {
    float:left;
    margin-left:10px;
}

.contact-nav section:nth-of-type(2), section:nth-of-type(3), section:nth-of-type(4)  {
    margin-top:20px;
}


.contact-nav section:nth-of-type(2) p {
    float:left;
}

.contact-nav section i {
    padding:15px;
    border-radius:50%;
    font-size:20px;
    border:1px solid;
    border-color:rgba(51, 51, 51, 0.17);
    transition:all .5s linear;
}

.contact-nav section i:hover {
    border:1px solid #1490d7;
}

.toggle-color {
    color:#1490d7;
    transition:all .5s linear;
}

.contact-nav section i {
    height:50px;
    width:50px;
    border-radius:50%;
    padding:0;
}

/* End Contact Navbar */





/*  ======================================= */ 




/* Start Slider */

.slider {
    overflow:hidden;
    height:570px;
    width:100%;
    background:url('https://imgur.com/CQKOzUy.jpg') center center no-repeat;
}


.slider .opacity-slider {
    height:570px;
    width:100%;
    background-color:rgba(51, 51, 51, 0.62);
    text-align:center;
    color:#FFF; 
}


.slider .slider-data {
    opacity:0;
    margin-left:70px;
    transition:all 3s linear;
}

.slider .opacity-slider h1 {
    margin-top:150px;
}

.slider .opacity-slider h1 hr {
    width:20%;
    margin:10px auto;
    font-weight: bold;
}

.slider .opacity-slider p:first-of-type {
    font-size:40px;
    font-family:fantasy, arial;
    letter-spacing:5px;
}

.slider .opacity-slider p:last-of-type {
    font-weight: bold;
    letter-spacing: 7px;
}

.slider .opacity-slider button {
    margin-top:15px;
    padding:10px 50px;
    border-radius:50px;
    background:none;
    border:2px solid #FFF;
    font-weight: bold;
    color:#FFF;
}



.slider .opacity-slider button:hover {
    transition:all .2s linear;
    background-color:#FFF;
    color:#1490d7 ;
}


.slider .slider-nav {
    background-color:rgba(43, 43, 43, 0.31);
    height:70px;
    font-weight:bold;
    z-index:30;
    transition:all .3s linear;
}

.slider-nav .nav1 a:last-of-type {
    border-right:1px solid #FFF;
    padding-right:30px;
    padding-bottom:10px;
}

.slider-nav .nav1 a {
    color:#FFF;
    text-decoration:none;
    padding:5px;
    padding-left:15px;
}

.slider-nav .nav1 a i {
    margin-top:27px;
}



.slider-nav .nav2 ul {
    float:left;
}

.slider-nav .nav2 ul li {
    float:left;
    list-style:none;
    margin-top:27px;
    padding:0px 15px;
    cursor:pointer;
}




/* End Slider */



/* Start our mission */

.our-mission {
    text-align:center;
    background-color:#EEE;
    opacity:0;
    margin-left:-50px;
    transition:all .5s linear;
}

.our-mission  h1 {
    color:#1490d7;
    font-size:48px;
    margin-top:50px;
}

.our-mission  p {
    margin-top:20px;
    font-size:24px;
    margin-bottom:30px;
    line-height: 50px;
}

.our-mission section {
    height:450px;
    cursor:pointer; 
    font-weight: bold;
    background-color:#FFF;
    overflow:hidden;
    margin-top:20px;
    margin-bottom:40px;
    border-radius:10px;
    box-shadow:0 0 5px 0.5px #CCC;
}



.our-mission section h2 {
    margin-top:50px;
}

.our-mission section hr {
    width:30%;
    margin:35px auto;

}

.our-mission section p {
    font-size:15px;
    font-weight:bold;
    line-height: 35px;
    width:85%;
    margin:35px auto;
}

.our-mission section a {
    text-decoration:none;
    color:#333;
    font-weight:bold;
}


.our-mission section:hover {
    background-color:#1490d7;
    color:#FFF;
    transition:all .3s linear;
}





/* End our mission */




/* Start what we do */

.we-do {
    background-color:#FFF;
    margin-top:0px;
    opacity:0;
    margin-left:-50px;
    transition:all .5s linear;
}


.we-do h1 {
    margin-top:100px;
}

.we-do section {
    float:left;
    margin-top:20px;
}

.we-do section span {
    display:block;
    font-size:40px;
    font-weight: bold;
    font-family:fantasy;
    color:#1490d7;
    float:left;
}

.we-do section h3 {
    font-weight:bold;
    margin-top:-5px;
    width:100%;
    float:left;
    transition:all .3s ease-in-out;
    cursor:pointer;
}

.we-do section p {
    color:#5a596a;
    width:100%;
    float:right;
}




/* End What we do */




/* Start Our works */

.our-works {
    background-color:#1490d7;
    color:#FFF;
    text-align:center;    
    opacity:0;
    margin-left:-50px;
    transition:all .5s linear;
}


.our-works h1 {
    margin-top:100px;
    font-weight: bold;
}

.our-works section {    
    height:380px;
    margin-top:20px;
    margin-bottom:50px;
    background:#FFF;
    cursor:pointer;
    perspective:600px;
    color:#333;
    font-weight: bold;
    border-radius:5px;
}

@media (min-width:0px) and (max-width:992px) {
    .our-works section {
        width:90%;
        margin:50px auto;
    }
}

@media (min-width:993px) {
    .our-works section {
        width:30%;
        margin:50px auto;
        float:left;
        margin-left:25px;
    }
} 




.our-works section article {
    width:90%;
    height:250px;
    margin:10px auto;
    transition:all .4s ease-in-out;
    overflow:hidden;
}

.our-works section article header {
    width:100%;
    height:250px;
    margin:15px auto;
    transition:all .2s ease-in-out;
}



.our-works section p {
    font-size:12px;
}



.our-works section:first-of-type article header {
    background:url('https://imgur.com/FsJCN70.jpg') center center no-repeat;
    background-size:cover;
}

.our-works section:nth-of-type(2) article header {
    background:url('https://imgur.com/MEzSD7c.jpg') center center no-repeat;
    background-size:cover;
}


.our-works section:last-of-type article header{
    background:url('https://imgur.com/Pqvucc4.jpg') center center no-repeat;
    background-size:cover;
}



/* End Our works */





/* Start Why Choose Us */
.why-choose {
    margin-top:60px;
    background-color:#FFF;
    font-weight: bold;
    opacity:0;
    margin-left:-50px;
    transition:all .5s linear;
}

.why-choose h1 {
    text-align:center;
    font-size:45px;
}

.why-choose section {
    margin-top:100px;
    margin-bottom:10px;
    float:left;
}

.why-choose section header  {
    background-color:#EEE;
    margin-bottom:20px;
    padding:10px;
    cursor: pointer;
}



.why-choose section header span {
    font-size:18px;
    font-weight: bold;
    margin-left:15px;
    text-align: center;
}

.why-choose section header i:first-of-type {
    color:#1490d7;
    margin-left:10px;
    font-size:15px;
}

.why-choose section header i:last-of-type {
    float:right;
}

.why-choose section header:first-of-type i:first-of-type {
    color:#1490d7;
    margin-left:10px;
    font-size:15px;
}

.why-choose section  p {
    display:none;
    color:#5a596a;
    font-weight: bold;
    line-height:26px;
}

.why-choose section p:first-of-type  {
    display:block;
}

.why-choose1 #blue-circle {
    color:#1490d7;
    display:none;
}

.why-choose1 i:first-of-type {
    float:left;
    color:#1490d7;
}

.change-color {
    color:#FFF;
}

.arrow-rotate-up {
    transform:rotate(90deg);
    transition:all .4s ease-out;
}

.arrow-rotate-down {
    transform:rotate(90deg);
    transition:all .4s ease-out;
}


.why-choose article {
    margin-top:35px;
}
    
.why-choose h4 {
    font-weight:bold;
}

.why-choose article p {
    padding:2px;
    background-color:#EEE;
}

.why-choose article p span {
    display:block;
    background-color:#1490d7;
    width:85%;
    padding:2px;
}

.why-choose article:nth-of-type(2) p span {
    width:65%;
}

.why-choose article:nth-of-type(3) p span {
    width:50%;
}


/*

@media (max-width:991px) {
    .why-choose section {
        width:90%;
        margin:30px auto;
    }
}


@media (min-width:992px) {
    .why-choose section {
        width:50%;
    }
}


*/

/* End Why Choose Us */






/* Start Our Services */

.our-services {
    background-color:#FFF;
    margin-top:40px;
    padding-bottom:50px;
    opacity:0;
    margin-left:-50px;
    transition:all .5s linear;
}

.our-services h1,
.our-services p 
 {
    text-align:center;
}

.our-services .services {
    box-shadow:0 0 5px 0.5px #CCC;
    text-align: center;
    background-color:#FAF8F8;
    margin-top:50px;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    transition:all .2s linear;
}

.our-services .services:hover {
    background-color:#1490d7;
    color:#FFF;
}

.our-services .services h3 {
    font-weight:bold;
    margin-top:-3px;
}

.our-services .services p {
    font-weight: bold;
    line-height: 26px;
    padding-bottom:110px;
}

.our-services .services i {
    margin-top:60px;
}

.our-services .services > * {
    padding:10px;
}


/* End Our Services */




/* Start Our Blog */
.blog {
    text-align:center;
    margin-top:50px;
    perspective: 3000px;
    opacity:0;
    margin-left:-50px;
    transition:all .5s linear;
}



.blog .blogs {
    border:1px solid #EEE;
    padding-bottom:70px;
    border-radius:5px;
    cursor:pointer;
    position:relative;
    transition:all .2s linear;
    margin-top:50px;
}

.blog .blogs section {
    width:90%;
    margin:30px auto;
    overflow:hidden;
}

.blog .blogs section img {
    margin:0px auto;
}

.blog .blogs h3 {
    font-weight:bolder;
}

.blog .blogs p {
    line-height:30px;
    margin-top:20px;
}


.blog  .date {
    border-radius:20px;
    border:1px solid #EEE;
    padding:10px;
    text-align:center;
    position: absolute;
    bottom:-22px;
    background-color:#FFF;
    margin:0 auto;
    left:0;
    right:0;
    width:40%;
    transition:all .2s linear;
    cursor:pointer;
    font-weight:bold;
}

/* End Our Blog */





/* Start Sponsors */
.sponsors {
    margin-top:150px;
    border-top:1px solid #DDD;
}


.sponsors section {
    margin-top:30px;
}

.sponsors  img {
    margin:0 auto;
}



/* End Sponsors */





/* Start Small Link */
.small-link {
    background-color:#1490d7;
    color:#FFF;
    margin-top:70px;
    padding:20px;
    font-weight:bold;
}


.small-link button {
    background:none;
    border:2px solid #FFF;
    padding:7px 50px;
    border-radius:50px;
    margin-top:20px;
    transition:all .2s linear;
    font-size:20px;
}

.small-link button:hover {
    background:#FFF;
    color:#1490d7;
    
}

/* End Small Link */



/* Start Contact Us */

.contact {
    margin-top:55px;
}

.contact .contacts {
    margin-top:50px;
}

.contact .contact1 p {
    margin-top:25px;
    line-height:25px;
    font-weight:bold;
}

.contact .contact1 a {
    display:block;
    text-decoration:none;
    width:35px;
    height:35px;
    float:left;
    background-color:#CCC;
    color:#333;
    font-size:15px;
    border-radius:50%;
    margin:6px;
    text-align:center;
    transition:all .2s linear;
}

.contact .contact1 a i {
    margin-top:10px;
}

.contact .contact1 a:hover {
    background-color:#1490d7;
    color:#FFF;
}

.contact .contacts h4 {
    font-weight:bold;
    margin-bottom:15px;
}

.contact .contact2 li {
    margin-top:10px;
    list-style:none;
}

.contact .contact2 li i {
    font-size:8px;
    margin-right:5px;
    color:#8A8A8A;
}

.contact .contact2 li a {
    color:#8A8A8A;
    font-weight: bold;
}

.contact .contact2 li a:hover {
    color:#1490d7;
}

.contact .contact3 p {
    font-weight:bold;
}

.contact3 img {
    float:left;
}


/* End Contact Us */



/* Start Footer */
footer {
    margin-top:30px;
    font-weight:bold;
    border-top:1px solid #DDD;
    padding:15px;
}

footer .foot2 a {
    border-right:1px solid #888;
    padding:0 10px;
    text-decoration:none;
    color:#888;
    transition:all .2s linear;
}

footer .foot2 a:last-of-type {
    border:none;
}


footer .foot2 a:hover {
    color:#1490d7;
}
/* End Footer */
